body {
  position: relative;

  background-color: #000;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  margin: 0;
  padding: 0;

  user-select: none;
}

div#root {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  min-height: 100vh;
}

@font-face {
  font-family: "Zain/ExtraBold";
  src: url(../fonts/Zain/ExtraBold.ttf) format(truetype);
}

@font-face {
  font-family: "Zain/Light";
  src: url(../fonts/Zain/Light.ttf) format(truetype);
}

@font-face {
  font-family: "Zain/ExtraLight";
  src: url(../fonts/Zain/ExtraLight.ttf) format(truetype);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/VariableFont_slnt_wght.ttf) format(truetype);
}
